/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800&family=Raleway:wght@300;400;700&family=Dosis:wght@200..800&Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Common */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #777;
}

html {
  scroll-behavior: smooth;
}

/* Headings */

/* Navigation Bar and Logo */

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  transition: 0.5s ease-in-out;
}

#nav-bar.scroll {
  height: 35px;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(37, 37, 49, 0.1);
  transition: 0.5s ease-in-out;
}

#nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-menu > li {
  font-family: Open Sans, sans-serif;
  overflow: hidden;
  padding: 10px 15px;
  margin-right: 30px;
  z-index: inherit;
}

#nav-toggle {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 11.5px;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
}

.nav-link:hover,
.nav-link.active {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.nav-link:not(:hover),
.nav-link:not(:active) {
  transition: 0.3s ease-in-out;
}

.mobile-nav-link,
.nav-link.black {
  transition: 0.3s ease-in-out;
  color: #696969;
}

.mobile-nav-link.active,
.nav-link.black.active {
  color: #000;
  transition: 0.3s ease-in-out;
}

.underlined {
  border-bottom: 1px solid #dfb255;
  color: #dfb255;
  padding-bottom: 3px;
  transition: 0.3s ease-in-out;
}

.mobile-nav-link:hover,
.nav-link.black:hover {
  transition: 0.3s ease-in-out;
  color: #000;
}

.mobile-nav-link:not(:hover),
.nav-link.black:not(:hover) {
  transition: 0.3s ease-in-out;
}

.mobile-nav-link.active:after {
  transition: 0.3s ease-in-out;
  width: 100%;
  left: 0;
}

.mobile-nav-link:after,
.nav-link.black:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: relative;
  background: #dfb255;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.mobile-nav-link:hover:after,
.nav-link.black:hover:after {
  width: 100%;
  left: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.mobile-nav-link {
  text-decoration: none;
  color: #696969;
  font-size: 1.25rem;
  padding: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1.3;
  transition: 0.3s ease-in-out;
}

#logo {
  z-index: 5;
}

#white-nav-logo {
  position: absolute;
  height: 35px;
}

#black-nav-logo {
  height: 35px;
  opacity: 0;
}

#white-nav-logo.transparent {
  opacity: 0;
  transition:opacity 0.5s ease-in-out;
}

#black-nav-logo.mobile-nav {
  opacity: 1;
  pointer-events: auto;
  transition:opacity 0.5s ease-in-out;
}

#logo.mobile-nav {
  pointer-events: auto;
  z-index: 6;
}


/* Hero Section */

#hero-image {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.8)), url("../img/hero/hero.jpg") no-repeat center center;
  background-size: cover;
  z-index: 0;
}

#hero-logo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#hero-logo img {
  height: 13.5%;
}

#hero-logo > .button {
  position: relative;
  top: 3.8%;
  border-radius: 0;
}

#location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

#location {
  margin-top: 15px;
  position: relative;
  font-size: 12.5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255,255,255, .7);
}

#coaching-options {
  margin-top: 30px;
}

#coaching-options a:first-child {
  margin-right: 15px;
}

/* Buttons */

button {
  cursor: pointer;
}

.button,
.button > a {
  display: inline-block;
  color: #dcdcdc;
  background: rgba(0, 0, 0, 0.2);
  padding: 13px 44px;
  border: 2px solid #dcdcdc;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  color: #111;
  background: #fff;
  transition: 0.5s ease-in-out;
}

.button:not(:hover),
.button:not(:focus) {
  transition: 0.5s ease-in-out;
}

.button-dark,
.button-dark > a {
  display: inline-block;
  color: #fff;
  background: #424242;
  padding: 13px 44px;
  border: 2px solid transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

.button-dark:hover,
.button-dark:focus {
  color: #fff;
  background: #848484;
  transition: 0.5s ease-in-out;
}

.button-dark:not(:hover),
.button-dark:not(:focus) {
  transition: 0.5s ease-in-out;
}

/* Mobile Menu Queries */

@media (max-width: 768px) {

  #nav-menu {
    display: none;
  }

  #nav-bar.scroll {
    box-shadow: none;
  }

  #mobile-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    z-index: 5;
  }

  :root {
    --screen-width: 320px;
  }

  #nav-toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    background: transparent;
    outline: 0;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.15s linear;
    background-color: rgba(0, 0, 0, .5);
  }

  #nav-toggle:hover, #nav-toggle:focus {
    background-color: rgba(0, 0, 0, .5);
  }

  .nav-item {
    opacity: 0;
    list-style: none;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  }

  .nav-item:nth-child(1) {
    transform: translateY(-40px);
  }

  .nav-item:nth-child(2) {
    transform: translateY(-80px);
  }

  .nav-item:nth-child(3) {
    transform: translateY(-120px);
  }

  .nav-item:nth-child(4) {
    transform: translateY(-160px);
  }

  .nav-item:nth-child(5) {
    transform: translateY(-200px);
  }

  .nav-link {
    color: black;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
  }

  .nav-link:hover, .nav-link:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .menuicon {
    display: block;
    cursor: pointer;
    color: white;
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .menuicon-bar, .menuicon-circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
  }

  .menuicon-bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
  }

  .menuicon-circle {
    transition: stroke-dashoffset 0.3s linear 0.1s;
    stroke-dashoffset: 144.513262038;
    stroke-dasharray: 144.513262038;
  }

  #splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
  }

  #splash::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    width: 284vmax;
    height: 284vmax;
    top: -142vmax;
    left: -142vmax;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    will-change: transform;
  }

  .nav:target > #splash::after, .nav--open > #splash::after {
    transform: scale(1);
  }

  .nav:target .menuicon, .nav--open .menuicon {
    color: white;
    transform: rotate(180deg);
  }

  .nav:target .menuicon-circle, .nav--open .menuicon-circle {
    stroke-dashoffset: 0;
  }

  .nav:target .menuicon-bar:nth-child(1), .nav--open .menuicon-bar:nth-child(1), .nav:target .menuicon-bar:nth-child(4), .nav--open .menuicon-bar:nth-child(4) {
    opacity: 0;
  }

  .nav:target .menuicon-bar:nth-child(2), .nav--open .menuicon-bar:nth-child(2) {
      transform: rotate(45deg);
  }

  .nav:target .menuicon-bar:nth-child(3), .nav--open .menuicon-bar:nth-child(3) {
      transform: rotate(-45deg);
  }

  .nav:target #mobile-nav-menu, .nav--open #mobile-nav-menu {
      visibility: visible;
  }

  .nav:target .nav-item, .nav--open .nav-item {
      opacity: 1;
      transform: translateY(0);
  }

  #nav-bar a:hover,
  #nav-bar a.active {
    color: #000;
    transition: 0.3s ease-in-out;
  }

  #nav-bar a:not(:hover),
  #nav-bar a:not(:active) {
    transition: 0.3s ease-in-out;
  }

  #logo {
    margin-left: 0;
    pointer-events: none;
  }

  #white-nav-logo {
    opacity: 0;
  }

  #black-nav-logo {
    opacity: 0;
    margin-left: 0px;
    transition:opacity 0.5s ease-in-out;
  }

  #nav-bar.scroll {
    height: 50px;
    background: transparent;
  }

  #nav-menu > li {
    overflow: hidden;
    padding: 10px 0px 0px 0px;
    margin-right: 0px;
    z-index: inherit;
   }
}
